<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeptMapper">
	<select id="list" resultType="dept">
	   select * from  dept order by deptno asc
	</select>
	<insert id="add" parameterType="dept">
		insert into dept values (#{deptno}, #{dname}, #{loc})
	</insert>
	<delete id="del" parameterType="int">
		delete from dept where deptno= #{deptno}
	</delete>
	<update id="update" parameterType="dept">
		update dept set dname=#{dname}, loc=#{loc} where 
		deptno= #{deptno}
	</update>
</mapper>